<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td>Open Room for Technical Assistance</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to Instructors, Helpers & Workshop Tools</td> </tr>
      <tr> <td>09:30</td>  <td>Running and Quitting</td> </tr>
      <tr> <td>09:45</td>  <td>Variables and Assignment</td> </tr>
      {% if site.flavor == "r" %}
      <tr> <td>10:15</td>  <td>Data Types and Type Conversion</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Data Types and Type Conversion (continued)</td> </tr>
      {% elsif site.flavor == "python" %}
      <tr> <td>11:05</td>  <td>Built-in Functions and Help</td> </tr>
      <tr> <td>11:25</td>  <td>Libraries</td> </tr>
      <tr> <td>11:45</td>  <td>Reading Tabular Data into DataFrames</td> </tr>
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>12:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Pandas DataFrames</td> </tr>
      <tr> <td>09:15</td>  <td>Plotting</td> </tr>
      <tr> <td>10:00</td>  <td>Lists</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>FOR Loops</td> </tr>
      <tr> <td>11:20</td>  <td>Conditionals</td> </tr>
      <tr> <td>12:05</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Looping Over Data Sets</td> </tr>
      <tr> <td>09:20</td>  <td>Writing Functions</td> </tr>
      <tr> <td>10:10</td>  <td>Variable Scope</td> </tr>
      <tr> <td>10:40</td>  <td>Break</td> </tr>
      {% if site.flavor == "r" %}
      <tr> <td>11:00</td>  <td>Programming Style</td> </tr>
      {% elsif site.flavor == "python" %}
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>11:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>11:45</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
